# Build output
ingestion-functions/target/
arm-template/target/
integration-commons/target/
notification-processor/target/
target/

*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE
*.iml
.settings/
.project
.classpath
.vscode/

# IntelliJ specific files
*.idea/copyright/
*.idea/libraries/
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/sonarlint-state.xml
*.idea/sonarlint-state.xml
*.idea/$PRODUCT_WORKSPACE_FILE$
*.idea/.name

# IntelliJ specific files
*.idea/Default.xml
*.idea/compiler.xml
*.idea/encodings.xml
*.idea/misc.xml
*.idea/scala_compiler.xml
*.idea/modules.xml
*.idea/uiDesigner.xml
*.idea/vcs.xml
.idea/checkstyle-idea.xml
.idea/artifacts/*_war.xml
.idea/artifacts/*_war_exploded.xml
.idea/shelf/
springAppContext.xml

# macOS
.DS_Store

# Azure Functions
local.settings.json
bin/
obj/
*.trn
